<div class="grid clearfix">
  
  <div class="box row_title double">      
    <h2>Diciembre marca el fin de un a&ntilde;o clave para Bootic. Durante el 2011 muchas marcas y emprendimientos han optado por Bootic como su plataforma para explorar el excitante mundo del comercio en l&iacute;nea.</h2>
  </div>

  
  
  <h4 class="box">
    <a href="http://www.pilpil.cl/collections/primavera-verano" target="_blank">
      <img src="<%= image(19, "27483-caja4bajab.jpg") %>" alt="" />
      <span class="title">Colecci&oacute;n Primavera Verano 2011-12</span>
    </a>
    <a href="http://www.pilpil.cl/" target="_blank" class="shop">Tienda Pil Pil</a>
  </h4>
  <h4 class="box">
    <a href="http://www.bodoquitos.cl/products/porta-bebes-marsupial-o-fular">
      <img src="<%= image(93, "16482-Red_300x400.JPG") %>" alt="" />
      <span class="title">Porta Bebes Marsupial o fular</span>
    </a>
    <a href="http://www.bodoquitos.cl/" target="_blank" class="shop">Tienda Bodoquitos</a>
  </h4>
  <h4 class="box">
    <a href="http://www.zonaregalos.cl/tags/angry-birds" target="_blank">
      <img src="<%= image(109, "25607-Red_Bird.jpg") %>" alt="" />
      <span class="title">Peluches Angry Birds</span>
    </a>
    <a href="http://www.zonaregalos.cl/" target="_blank" class="shop">Tienda Zona Regalos</a>
  </h4>
  <h4 class="box">
    <a href="http://www.amenkids.cl/products/set-cubreplumon-camita-mono" target="_self">
      <img src="<%= image(128, "20724-Camita-monobaja.jpg") %>" alt="" />
      <span class="title">Set Cubreplum&oacute;n Camita Mono</span>
    </a>
    <a href="http://www.kaikai.cl/products/dvd-tikitiklip-artesanal" target="_blank" class="shop">Tienda Amen Kids</a>
  </h4>
  <h4 class="box">
    <a href="http://www.kaikai.cl/products/dvd-tikitiklip-artesanal" target="_blank">
      <img src="<%= image(113, "25013-DVD_artesanal_frente.png") %>" alt="" />
      <span class="title">DVD Tikitiklip</span>
    </a>
    <a href="http://www.kaikai.cl/" target="_blank" class="shop">Tienda Kai Kai</a>
  </h4>
  <h4 class="box">
    <a href="http://www.openbaby.cl/products/mini-cuna-baby-clic" target="_blank">
      <img src="<%= image(134, "23747-violeta.jpg") %>" alt="" />
      <span class="title">Mini cuna Baby Clic</span>
    </a>
    <a href="http://www.openbaby.cl/" target="_blank" class="shop">Tienda Open Baby</a>
  </h4>
  <h4 class="box">
    <a href="http://www.zonaregalos.cl/products/juego-balls-balls" target="_blank">
      <img src="<%= image(109, "23051-Juego_“Balls_Balls”_1.jpg") %>" alt="" />
      <span class="title">Juego Balls &amp; Balls</span>
    </a>
    <a href="http://www.zonaregalos.cl/" target="_blank" class="shop">Tienda Zona Regalos</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/selk-bag-ninos-2" target="_blank">
      <img src="<%= image(47, "27297-QueRegSaco.jpg") %>" alt="" />
      <span class="title">Selk Bag Ni&ntilde;os</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  <h4 class="box">
    <a href="http://pepino.bootic.net/collections/zapatos" target="_blank">
      <img src="<%= image(155, "20078-pi_gitarre_large.jpg") %>" alt="" />
      <span class="title">Colecci&oacute;n zapatos</span>
    </a>
    <a href="http://pepino.cl/" target="_blank" class="shop">Tienda Pepino</a>
  </h4>
  <h4 class="box">
    <a href="http://www.amenkids.cl/products/saco-de-dormir-perro-salchicha-rosado" target="_blank">
      <img src="<%= image(128, "19128-16900-sacodormisalchichabajavert_copy.jpg") %>" alt="" />
      <span class="title">Saco de dormir perro salchicha</span>
    </a>
    <a href="http://www.kaikai.cl/products/dvd-tikitiklip-artesanal" target="_blank" class="shop">Tienda Amen Kids</a>
  </h4>
  <h4 class="box">
    <a href="http://www.zonaregalos.cl/products/juego-frogy-game" target="_blank">
      <img src="<%= image(109, "23047-Juego_“Frogy_Game”_1.jpg") %>" alt="" />
      <span class="title">Juego Frogy Game</span>
    </a>
    <a href="http://www.zonaregalos.cl/" target="_blank" class="shop">Tienda Zona Regalos</a>
  </h4>
  <h4 class="box">
    <a href="http://www.openbaby.cl/products/sacos-artic" target="_blank">
      <img src="<%= image(134, "19784-artic_gris.jpg") %>" alt="" />
      <span class="title">Sacos para coches Artic</span>
    </a>
    <a href="http://www.openbaby.cl/" target="_blank" class="shop">Tienda Open Baby</a>
  </h4>
</div>
<div class="grid clearfix">
  
  <div class="box row_title"><h2>Ahora es el turno de juguetes para grandes.</h2></div>

  <h4 class="box">
    <a href="http://www.secretosdeamor.cl/products/juego-del-deseo" target="_blank">
      <img style="vertical-align: middle;" src="<%= image(136, "21666-juegodeldeseo.jpg") %>" alt="" />
      <span class="title">Juego del deseo</span>
    </a>
    <a href="http://www.secretosdeamor.cl/" target="_blank" class="shop">Tienda Secretos de Amor</a>
  </h4>
  <h4 class="box">
    <a href="http://www.japijane.cl/collections/menos-de-10-000" target="_blank">
      <img src="<%= image(78, "16081-ETN-tarjetas-3.jpg") %>" alt="" width="500" height="375" />
      <span class="title">Naipes 52 posiciones sexuales - Productos menos de $10.000</span>
    </a>
    <a href="http://www.japijane.cl/" target="_blank" class="shop">Tienda Japi Jane</a>
  </h4>
  <h4 class="box">
    <a href="http://tienda.lomochile.cl/collections/catalogo" target="_blank">
      <img src="<%= image(25, "19894-la-sardina_sea-pride_front_1.jpg") %>" alt="" />
      <span class="title">C&aacute;maras de fotos Lomo</span>
    </a>
    <a href="http://tienda.lomochile.cl/" target="_blank" class="shop">Tienda Lomo Chile</a>
  </h4>
  <h4 class="box">
    <a href="http://molde.bootic.net/products/vw-beetle-67" target="_blank">
      <img src="<%= image(40, "20443-esacrojo.png") %>" alt="" />
      <span class="title">Volkswagen Beetle a&ntilde;o 67</span>
    </a>
    <a href="http://molde.bootic.net/" target="_blank" class="shop">Tienda Molde</a>
  </h4>
  <h4 class="box">
    <a href="http://tienda.dalealbo.cl/products/camiseta-local-2011-adulto-personalizada" target="_blank">
      <img src="<%= image(34, "16946-personalizada11.jpg") %>" alt="" />
      <span class="title">Camiseta Colo-Colo Local 2011 - Adulto Personalizada</span>
    </a>
    <a href="http://tienda.dalealbo.cl/" target="_blank" class="shop">Tienda Dale Albo</a>
  </h4>
  <h4 class="box">
    <a href="http://molde.bootic.net/collections/catalogo/tags/mighty-wallet" target="_blank">
      <img src="<%= image(40, "23774-airmail_01.jpg") %>" alt="" />
      <span class="title">Billeteras</span>
    </a>
    <a href="http://molde.bootic.net/" target="_blank" class="shop">Tienda Molde</a>
  </h4>
  <h4 class="box">
    <a href="http://www.santodiseno.com/products/auto-armable-solar" target="_blank">
      <img src="<%= image(159, "22960-auto_solar_full1.jpg") %>" alt="" width="376" height="376" />
      <span class="title">Auto armable solar</span>
    </a>
    <a href="http://www.santodiseno.com/" target="_blank" class="shop">Tienda Santo Dise&ntilde;o</a>
  </h4>
  <h4 class="box">
    <a href="http://molde.bootic.net/products/casco-tokyo-blue-stripe" target="_blank">
      <img src="<%= image(40, "15090-yakkay4.jpg") %>" alt="" />
      <span class="title">Casco Tokio New Jazz</span>
    </a>
    <a href="http://molde.bootic.net/" target="_blank" class="shop">Tienda Molde</a>
  </h4>
  <h4 class="box">
    <a href="http://www.zonaregalos.cl/products/carcasa-iphone4-red-bird-de-angry-birds" target="_blank">
      <img src="<%= image(109, "23385-RedBird.jpg") %>" alt="" width="180" height="180" />
      <span class="title">Carcasa IPhone 4 - Angry Birds</span>
    </a>
    <a href="http://www.zonaregalos.cl/" target="_blank" class="shop">Tienda Zona Regalos</a>
  </h4>

</div>

<div class="grid clearfix">
  
  <div class="box row_title"><h2>Para ella.</h2></div>
  <h4 class="box">
    <a href="http://www.thestrip.cl/collections/sale" target="_blank">
      <img src="<%= image(112, "20375-DORADO-PIEDRA-VERDE.jpg") %>" alt="" />
      <span class="title">Accesorios - Anillos</span>
    </a>
    <a href="http://www.thestrip.cl/" target="_blank" class="shop">Tienda The Strip</a>
  </h4>
  <h4 class="box">
    <a href="http://www.romano.cl/collections/avance-verano-2012" target="_self">
      <img src="<%= image(29, "25476-12014PA.JPG") %>" alt="" width="376" height="376" />
      <span class="title">Colecci&oacute;n Primavera Verano 2011-12</span>
    </a>
    <a href="http://www.romano.cl/" target="_blank" class="shop">Tienda Romano</a>
  </h4>
  <h4 class="box">
    <a href="http://www.logona.cl/collections/catalogo/types/crema-de-cara-dia" target="_blank">
      <img src="<%= image(33, "27018-cremad_a-hamamelis-r_día.jpg") %>" alt="" />
      <span class="title">Productos cremas de cara - d&iacute;a</span>
    </a>
    <a href="http://www.logona.cl/" target="_blank" class="shop">Tienda Logona</a>
  </h4>
  <h4 class="box">
    <a href="http://www.bbz.cl/collections/verano-2012" target="_self">
      <img src="<%= image(76, "23322-MINI_MARTINA_E.BL.jpg") %>" alt="" />
      <span class="title">Colecci&oacute;n Primavera Verano 2011-12</span>
    </a>
    <a href="http://www.bbz.cl/" target="_blank" class="shop">Tienda Barbizon</a>
  </h4>
  <h4 class="box">
    <a href="http://www.majen.cl/collections/albahaca-lemongrass" target="_blank">
      <img src="<%= image(166, "21610-barra_lemongrass.jpg") %>" alt="" />
      <span class="title">Jab&oacute;n Barra Albahaca &amp; Lemongrass</span>
    </a>
    <a href="http://www.majen.cl/" target="_blank" class="shop">Tienda Majen</a>
  </h4>

</div>
<div class="grid clearfix">
  
  <div class="box row_title"><h2>&iquest;Y t&uacute; casa? Tambi&eacute;n se merece un regalo</h2></div>
  <h4 class="box">
    <a href="http://www.tiendadepto51.cl/types/cojines" target="_blank">
      <img src="<%= image(167, "25179-22609-home_square_drop_black.jpg") %>" alt="" />
      <span class="title">Cojines</span>
    </a>
    <a href="http://www.tiendadepto51.cl/" target="_blank" class="shop">Tienda Depto 51</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/exprimidor" target="_blank">
      <img src="<%= image(59, "25386-13.jpg") %>" alt="" width="376" height="376" />
      <span class="title">Exprimidor</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  <h4 class="box">
    <a href="http://www.santodiseno.com/products/abre-tapas" target="_blank">
      <img src="<%= image(159, "21379-abre_botella_diablito2.jpg") %>" alt="" width="376" height="376" />
      <span class="title">Abre botellas diablito</span>
    </a>
    <a href="http://www.santodiseno.com/" target="_blank" class="shop">Tienda Santo Dise&ntilde;o</a>
  </h4>
  <h4 class="box">
    <a href="http://www.tiendadepto51.cl/products/candelabro-meccano" target="_blank">
      <img src="<%= image(167, "22881-MECANO1.jpg") %>" alt="" />
      <span class="title">Candelabro Mecano</span>
    </a>
    <a href="http://www.tiendadepto51.cl/" target="_blank" class="shop">Tienda Depto 51</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/tshirt" target="_blank">
      <img src="<%= image(59, "25674-85.jpg") %>" alt="" width="376" height="376" />
      <span class="title">Infusor de t&eacute; TShirt</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  <h4 class="box">
    <a href="http://www.tiendadepto51.cl/products/set-de-dos-botellas-para-aceite-y-vinagre" target="_blank">
      <img src="<%= image(167, "22866-alcuza.jpg") %>" alt="" />
      <span class="title">Set de dos botellas para aceite y vinagre</span>
    </a>
    <a href="http://www.tiendadepto51.cl/" target="_blank" class="shop">Tienda Depto 51</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/screw" target="_blank">
      <img src="<%= image(59, "25673-84.jpg") %>" alt="" />
      <span class="title">Screw - percheros para pared</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/can" target="_blank">
      <img src="<%= image(59, "25506-24.jpg") %>" alt="" />
      <span class="title">Basurero con forma de lata de bebida</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  
</div>

<div class="grid clearfix">
  
  <div class="box row_title"><h2>Un cat&aacute;logo en l&iacute;nea no puede onvidarse de los geeks ;)</h2></div>
  <h4 class="box">
    <a href="http://www.santodiseno.com/products/cargador-usb-para-auto" target="_blank">
      <img src="<%= image(159, "23263-cargador_USB_auto_calipso.jpg") %>" alt="" />
      <span class="title">Cargador USB para auto</span>
    </a>
    <a href="http://www.santodiseno.com/" target="_blank" class="shop">Tienda Santo Dise&ntilde;o</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/lampara-space-invaders" target="_blank">
      <img src="<%= image(59, "14892-DSCF0056.gif") %>" alt="" />
      <span class="title">L&aacute;mpara Space Invaders</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  <h4 class="box">
    <a href="http://tienda.porlaputa.com/products/poleralasorra" target="_blank">
      <img src="<%= image(123, "22159-derpina.png") %>" alt="" width="377" height="376" />
      <span class="title">La famosa polera del dinosaurio</span>
    </a>
    <a href="http://tienda.porlaputa.com/" target="_blank" class="shop">Tienda Porlaputa</a>
  </h4>
  <h4 class="box">
    <a href="http://www.santodiseno.com/products/android-coleccionable-blanco" target="_blank">
      <img src="<%= image(159, "21524-ANDROID_BLANCO1.jpg") %>" alt="" />
      <span class="title">Android coleccionable blanco</span>
    </a>
    <a href="http://www.santodiseno.com/" target="_blank" class="shop">Tienda Santo Dise&ntilde;o</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/pendrive-batman-vintage-edition" target="_blank">
      <img src="<%= image(59, "19372-DC_BatmanVintage_MIMOBOTbaja.jpg") %>" alt="" />
      <span class="title">Pendrive Batman edici&oacute;n vintage</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>

</div>

<div class="grid clearfix">
  
  <div class="box row_title"><h2>Y para terminar, sorprende a tu Cachup&iacute;n. La Navidad es para "todos".</h2></div>
  <h4 class="box">
    <a href="http://www.papupet.cl/types/juguetes" target="_blank">
      <img src="<%= image(211, "25112-129.jpg") %>" alt="" />
      <span class="title">Juguetes para mascotas</span>
    </a>
    <a href="http://www.papupet.cl/" target="_blank" class="shop">Tienda Papupet</a>
  </h4>
  <h4 class="box">
    <a href="http://www.queregalo.cl/products/pescera" target="_blank">
      <img src="<%= image(59, "14101-fish_hotel.jpg") %>" alt="" />
      <span class="title">Pecera</span>
    </a>
    <a href="http://www.queregalo.cl/" target="_blank" class="shop">Tienda Qu&eacute; Regalo</a>
  </h4>
  
</div>


<!-- h4 class="box">
  <a href="http://www.queregalo.cl/products/pescera" target="_blank">
    <img src="http://static.bootic.net/47/medium/27333-QueRegPescera.jpg" alt="" />
    <span class="title">
      Pecera
    </span>
    <span class="shop">Qu&eacute; Regalo - www.queregalo.cl</span>
  </a>
</h4 -->