<div class="grid clearfix">

  <% @products['products'].each_with_index do |product, i| %>

    <% shop = @products['shops'][product['shop']] %>

    <h4 class="box" <%= rotate %>>
      <a href="<%= product['link'] %>" target="_blank">
        <img src="<%= image(shop['id'], product['img']) %>" alt="<%= product['title'] %>" />
        <span class="title"><%= product['title'] %></span>
      </a>
      <a href="http://<%= shop['url'] %>" target="_blank" class="shop"><%= shop['name'] %></a>
    </h4>

  <% end %>

</div>

<div id="footer">
	<p>(c) 2011 Bootic.net - Las imágenes son de exclusiva propiedad de los locatarios Bootic. <br />Si quieres aparecer en este listado <a href="http://www.bootic.net/forms/contact">avísanos</a>!</p>
</div><!-- /footer -->
